<h2>投稿詳細</h2>

<table class='table'>
    <tr>
        <td><%= link_to @post.title, @post %></td>
        <td><%= @post.body %></td>
        <% if @post.user == current_user %>
        <td><%= link_to 'Edit', edit_post_path(@post), class: "btn btn-sm btn-success" %></td>
        <td><%= link_to 'Destroy', @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger "%></td>
        <% end %> 
    </tr>
</table>
<h1>Public::Posts#show</h1>
<p>Find me in app/views/public/posts/show.html.erb</p>
